.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.addToList,
.option,
.progressBar {
    padding: 0 30px;
}

.header {
    padding-top: 30px;
}

.todoList {
    margin-top: 10px;
    overflow-y: scroll;
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 20px;
}

.todoList::-webkit-scrollbar {
    width: 10px;
}

.todoList::-webkit-scrollbar-thumb {
    background-color: rgb(187, 195, 247);
    border-radius: 10px;
}

.todoList::-webkit-scrollbar-thumb:hover {
    background-color: rgb(120, 143, 211);
}

.addToList {
    padding-bottom: 30px;
}

.option {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.createTodoForm {
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: space-between;
}

.titleInput {
    background-color: rgb(255, 255, 255);
    flex: 1;
}

.submit {
    height: 50px;
    width: 50px;
    padding: 0px;
}
